body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    height: 560px;
}

#buttons {
    display: flex;
    #justify-content: space-between;
    margin-bottom: 5px;
}

button {
    background-color: #fab518;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.anime {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anime-name {
    margin-right: 10px;
    font-size: 16px;
}

#search-input {
    background-color: lightgray; /* Gleiche Hintergrundfarbe wie die Buttons */
    color: black; /* Gleiche Textfarbe wie die Buttons */
    padding: 5px; /* Gleicher Innenabstand wie die Buttons */
    font-size: 16px; /* Gleiche Schriftgröße wie die Buttons */
    margin: 4px 2px; /* Gleicher Außenabstand wie die Buttons */
    border: none; /* Entfernt den Standardrahmen */
    border-radius: 4px; /* Gleicher Border-Radius wie die Buttons */
    width: calc(100% - 40px); /* 100% - doppelter Abstand zum Rand */
    box-sizing: border-box; /* Damit Padding und Border in die Breite einbezogen werden */
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background: white;
    margin-top: 10px;
}

#page-indicator {
    margin: 0 10px;
}

#anime-list-container {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;
}

/* Darkmode slider */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.dark-mode {
  background-color: #202124;
  color: #FFFFFF;
}

body.dark-mode .anime {
  background-color: #292a2d;
  border-color: #292a2d;
}

body.dark-mode button {
  background-color: #fe8432;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body.dark-mode .dot {
  background-color: #666666;
}

body.dark-mode .dot.active {
  background-color: #999999;
}

body.dark-mode #pagination {
  background-color: #202124;
}

/* Stil für die Scroll-Leiste */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 30px;
}

body.dark-mode ::-webkit-scrollbar-track {
  background-color: #202124;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
