/* Darkmode */
body.dark-mode {
    background-color: #202124;
    color: #FFFFFF;
}

/* Darkmode-Spezifische Styles */
body.dark-mode .anime {
    background-color: #292a2d;
    border-color: #292a2d;
}

body.dark-mode button {
    background-color: #fe8432;
}

body.dark-mode #pagination {
    background-color: #202124;
    color: white;
}

/* Darkmode für den Dot */
body.dark-mode .dot {
    background-color: #666666;
}

body.dark-mode .dot.active {
    background-color: #999999;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Abgerundete Slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
